*,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

.app {
  height: 100vh;
}

.resume {
  margin: 0 auto;
}

.resume__container {
  display: flex;
  flex-direction: column;
}

.resume__left-container {
  flex-basis: 100%;
}

.main-container {
  padding: 2rem 0.8rem 3rem 2rem;
}

.line {
  background-color: #101214;
  height: 6px;
}

.header {
  background-color: #b8f2e6;
  display: none;
}

.headers {
  padding: 4.5rem 0 3rem 4.5rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.aside {
  background-color: #3ca2dc;
  color: #ffff;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

section {
  margin-top: 1.5rem;
}

.userBlock {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: white;
}

.profile {
  width: 10rem;
  height: 10rem;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
}

.avatar img {
  object-fit: cover;
}

section > a {
  font-size: xx-large;
  color: #ffff;
  margin-right: 1rem;
}

.job {
  margin-bottom: 1.5rem;
}

h4,
.job > span,
.school > span {
  color: #73808d;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.button {
  padding: 10px;
  border-radius: 0.8rem;
  cursor: pointer;
  background-color: #3ca2dc;
  color: #ffff;
  border: 0;
  width: 8rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: #b8f2e6;
}

.button-cv {
  display: none;
}

.dark {
  background-color: #101214;
  color: #ffff;
}

.gallery img {
  max-width: 60%;
}

.gallery img:hover {
  transform: scale(2);
  margin-left: 7.8rem;
  margin-top: 4rem;
}

@media screen and (min-width: 600px) {
  .resume__container {
    flex-direction: row;
  }
  .dark {
    height: 100%;
  }
}

@media screen and (min-width: 850px) {
  .resume {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1050px) {
  .resume {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1250px) {
  .resume {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1500px) {
  .resume {
    max-width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1588px) {
  .header {
    display: block;
  }

  .main-container {
    max-width: 31rem;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 5.5rem;
  }

  .button-cv {
    display: block;
  }

  .dark {
    height: auto;
  }
}
